*.suo
src/UnitTest/bin
src/UnitTest/obj
src/DataProvider/bin
src/DataProvider/obj
src/Business/bin
src/Business/obj
src/SystemUtil/bin
src/SystemUtil/obj
src/Web/bin
src/Web/obj
src/WebUtil/bin
src/WebUtil/obj
*.user