*.suo
src/*/bin
src/*/obj
src/*/obj/*/*
tools/*/bin
tools/*/obj
tools/*/obj/*
*.user
release/*
src/*/Log/*
src/web/Images/product/*/*
*.cache
src/BusinessLib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
tools/encryptor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.cache