@using Solemart.DataProvider.Entity;
@using Solemart.BusinessLib;

@{
    System.Collections.Generic.List<BulletinItem> bbs = BulletinManager.GetValidBillBoardList();
}

<div id="advise-section">
    <div id="slide-show-images" class="slide-show">
        <a href="/Product/Detail/1"><img src="/images/slides/bluetooth03.jpg" /></a>
        <a href="/Product/Detail/15"><img src="/images/slides/bluetooth03.jpg" /></a>
    </div>

    @if (bbs != null && bbs.Count > 0) {
    <div id="billboard" class="notice-section" title="公告">
        <div class="p-section">
                <strong>截至 @bbs[0].AbortTime.ToString("yyyy年MM月dd日")</strong>
                @bbs[0].Content
        </div>
    </div>
    }
</div>
<script type="text/javascript">
    $(function () {
        var imgs = $('#slide-show-images img').hide(), index = 0;

        imgs.eq(index).show();

        function swapImages() {
            imgs.eq(index).fadeOut(2000, function () {

                index++;
                if (index == imgs.length) {
                    index = 0;
                }
                imgs.eq(index).fadeIn(2000);
            });
        }

        window.setInterval(swapImages, 5000);
    });
</script>
