@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cont" id="login_pane">
    <h2 class="subTitle">登录...</h2>
    <div class="contentArea">
        <ul>
            <li>
                <label for="uname">用户名</label>
                <input type="text" name="uname" id="uname" autofocus="autofocus" />
            </li>
            <li>
                <label for="pwd">密码</label>
                <input type="password" name="pwd" id="pwd" />
            </li>
            <li>
                <input type="checkbox" id="persist" />
                <label for="persist" style="display: inline;">保留登录信息</label>
            </li>
            <li><span id="login_err_msg" class="err_tip">用户名或密码出错!</span></li>
        </ul>
        <button class="comm_btn" id="loginButton" title="如果您已经注册过本网站用户帐号，直接登录">登录</button>
        <span id="qqLoginBtn" title="使用QQ帐号登录，不需要注册新用户"></span>
        @*<script type="text/javascript">
            //调用QC.Login方法，指定btnId参数将按钮绑定在容器节点中
            QC.Login({
                //btnId：插入按钮的节点id，必选
                btnId: "qqLoginBtn",
                //用户需要确认的scope授权项，可选，默认all
                scope: "all",
                //按钮尺寸，可用值[A_XL| A_L| A_M| A_S|  B_M| B_S| C_S]，可选，默认B_S
                size: "B_M"
            }, function (reqData, opts) {//登录成功, 根据返回数据，更换按钮显示状态方法
                QC.Login.getMe(function (openId, accessToken) {
                    $.post("/Home/OnQQLogin",
                        {
                            nickname: QC.String.escHTML(reqData.nickname),
                            'openid': openId
                        },
                        function (result) {
                            window.location.href = result;
                        });
                });

            }, function (opts) {//注销成功
                alert('QQ登录 注销成功');
            });
        </script>*@
        <br />
        <a id="createAccount" href="/Home/Register" onclick="javascript:void(0);">新用户注册</a>
        <br />
        <a href="/Home/GetPwd" title="如果忘记本网站注册的密码，可以使用这个它找回您的密码">忘记密码？</a>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/pages/HomeLogin.js"></script>