@{
    ViewBag.Title = "注册——叟玛特";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header_script{
    <script src="/Scripts/pages/u_reg.js"></script>
}

<div class="register">
    <h1>欢迎注册一个"叟玛特"帐户:</h1>
    <h3>填写帐户信息(必填项)<span class="err_tip" id="name_email">用户名和Email地址不能重复</span></h3>
    <fieldset>
        <p>*表示必填项</p>
        <ol>
            <li>
                <label for="name">* 用户名:</label>
                <input name="name" tabindex="1" id="name" type="text" value="" />
                <span class="err_tip" id="err_for_name">用户名不能为空</span>
                <p class="fNote">用户名出现在您访问我们的网站时候.</p>
            </li>
            <li>
                <label for="email">* Email地址:</label>
                <input name="email" tabindex="2" id="email" type="text" autocomplete="off" value="" />
                <span class="err_tip" id="err_for_email">邮箱地址不合法，邮箱地址用于密码忘记找回</span>
            </li>
            <li>
                <label for="password">* 密码:</label>
                <input name="password" tabindex="4" id="password" type="password" autocomplete="off" value="" /><a class="pwTip" title="密码必须至少6个字符">?</a>
                <span class="err_tip" id="err_for_pwd">密码的长度至少6位!</span>
                <p class="fNote" id="passwordRequirements">密码必须至少6个字符</p>
                <label for="passwordConfirm">* 密码确认:</label>
                <input name="passwordConfirm" tabindex="5" id="passwordConfirm" type="password" autocomplete="off" value="" />
                <span class="err_tip" id="err_for_pwdcnfm">您输入的密码两次不一样！</span>
            </li>
        </ol>
    </fieldset>
    <h3>Email选项(可选)</h3>
    <fieldset>
        <ol>
            <li>
                <h4>Email信息订阅服务</h4>
                <span class="fOption">
                    <input name="subscriptions" tabindex="6" id="subscriptions_news" type="checkbox" checked="checked" />
                    <label for="subscriptions1">同意，我订阅网站的商品、感兴趣的新闻类信息，发送到我的Email.</label>
                </span>
            </li>
        </ol>
    </fieldset>
    <h3>我同意服务协议，注册成为用户</h3>
    <fieldset>
        <ol>
            <li>
                <span class="fOption">
                    <input name="agreement1" tabindex="6" id="agreement" type="checkbox" checked="checked" />
                    <label for="subscriptions1">同意，我订阅网站的商品、感兴趣的新闻类信息，发送到我的Email.</label>
                </span>
            </li>
            <li>
                <button type="button" id="submit" class="comm_btn" onclick="submitaccount();">新建账户</button>
            </li>
        </ol>
    </fieldset>
</div>

<script type="text/javascript">
    $(function () {
        $("#name").focusin(function () {
            $('#err_for_name').css('visibility', 'hidden');
        });

        $("#name").focusout(function () {
            var name = $("#name").val();
            if (name.length == 0 || name.match(/\s+/)) {
                $("#err_for_name").css('visibility', 'visible');
                $("#err_for_name").html('用户名不能为空');
            }
            else
                $("#err_for_name").css('visibility', 'hidden');
        });

        $("#name").keypress(function () {
            $("#err_for_name").css('visibility', 'hidden');
        });

        $("#email").focusin(function () {
            $("#err_for_email").css('visibility', 'hidden');
        });

        $("#email").focusout(function () {
            if (!validateEmail($("#email").val())) {
                $("#err_for_email").css('visibility', 'visible');
                $("#err_for_email").html('邮箱地址不合法，邮箱地址用于密码忘记找回');
            }
            else
                $("#err_for_email").css('visibility', 'hidden');
        });

        $("#email").keypress(function () {
            $("#err_for_email").css('visibility', 'visible');
        });

        $("#password").focusout(function () {
            if ($("#password").val().length < 6)
                $("#err_for_pwd").css("visibility", "visible");
            else
                $("#err_for_pwd").css("visibility", "hidden");
        });

        $("#password").focusin(function () {
            $("#err_for_pwd").css("visibility", "hidden");
        });

        $("#passwordConfirm").focusin(function () {
            $("#err_for_pwdcnfm").css("visibility", "hidden");
        });

        $("#passwordConfirm").focusout(function () {
            if ($("#passwordConfirm").val() != $("#password").val())
                $("#err_for_pwdcnfm").css("visibility", "visible");
            else
                $("#err_for_pwdcnfm").css("visibility", "hidden");
        });

        $("#agreement").click(function () {
            if ($("#agreement").is(":checked")) {
                $("#submit").attr("disabled", false);
                $("#submit").removeClass("disablebtn");
            }
            else {
                $("#submit").attr("disabled", true);
                $("#submit").addClass("disablebtn");
            }
        });

        $("#name").focus();

    });

    function submitaccount() {
        var name = $("#name").val();
        var email = $("#email").val();
        var pwd = $("#password").val();
        var pwd_c = $("#passwordConfirm").val();

        var pass = true;
        if (name.length == 0 || name.match(/\s+/)) {
            pass = false;
        }

        if (!validateEmail(email))
            pass = false;

        if (pwd.length < 6) {
            pass = false;
        }

        if (pwd != pwd_c)
            pass = false;

        if (!pass)
            return false;

        $.post("/Home/RegisterNew",
            {
                'name': name,
                'email': email,
                'pwd': pwd,
                'subscript': $("#subscriptions_news").is(":checked")
            },
            function (result) {
                if (result.substring(0, 5) != "error") {
                    alert("谢谢您！已经成功注册。现在转到网站首页");
                    window.location.href = "/";
                }
                else {
                    var err_type = (result.indexOf("name duplicate") != -1);
                    if (err_type) {
                        $("#name").focus();
                        $('#err_for_name').css('visibility', 'visible');
                        $('#err_for_name').html('该用户名已经被注册');
                    }
                    else {
                        $("#email").focus();
                        $('#err_for_email').css('visibility', 'visible');
                        $('#err_for_email').html('该Email地址已经被使用');
                    }
                }
            });
    }
</script>