@model string
<div>
    <h1>For test user: @Model</h1>
    <form>
        <input type="text" required placeholder="请输入号码" />
        <input type="text" required placeholder="请输入另一个号码" />
        <input type="submit" />
    </form>
</div>