<div>
    <h1>For test</h1>
</div>
<script type="text/javascript">
    $(function () {
        var context = localStorage.getItem("context");
        if (context && context != "") {
            context = "my name";
            localStorage.setItem("context", context);
        }

        alert(context);
        $.post(window.location.href,
            { "context": context },
            function (result) {
                alert("write success!");
            });
    })
</script>