@using Xxx.EntityLib;
@using Xxx.BusinessLib;

@{
    var CategoryLists = CategoryManager.Instance.Categories;
    int CurrentCateID = (int)ViewData["CurrentCateID"];
<div id="cate">
    @foreach (Category super_cat in CategoryLists) {
    <h2>@super_cat.CateName</h2>
    <div class="subcls">
        <ul>
            @if (super_cat.SubCategories != null) {
                foreach (Category sub_cat in super_cat.SubCategories) {
                <li @((CurrentCateID==sub_cat.CateID)?"class=cls_active":"")><a href="/Product/Cate/@sub_cat.CateID" title="@sub_cat.Desc">@sub_cat.CateName</a></li>
                }
            }
        </ul>
    </div>
    }
</div>
}
