@{
    ViewBag.Title = "关于公司 —— 叟玛特";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header_style{
}

@section header_script{
}


<div class="head_title">
    <h1>叟玛特 - solemart.com</h1>
    <p>用心 &nbsp;&nbsp; 专业</p>
</div>
<div class="main_text">
    <h3>
        公司服务
    </h3>
    <p>
        本公司致力于发展<strong>本地化(社区)电子商务</strong>，以淘宝的价格提供本地购买的服务和体验，质量保证<br />
        主要销售如下产品和服务：
    </p>
    <ol>
        <li>手机、电脑配件，并进行这些产品的上门服务。</li>
        <li>网站开发和培训。</li>
        <li>电脑系统的安装、清理等上门服务。</li>
    </ol>
    <p>
        本公司所售商品均在商品菜单中列出，没有列出的商品目前不提供服务
    </p>
    <p>
        本公司所售商品都提供上门配送，并进行货到付款。
    </p>
</div>