div.cart_content {
    text-align: left;
}

table.cart {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

    table.cart th {
        background-color: rgb(249, 249, 249);
        margin: 0px;
        padding: 5px 0px;
    }

    table.cart td {
        padding: 15px;
        background-color: #fff;
    }

    table.cart caption.cart_caption {
        background-color: rgb(85, 138, 190);
        text-align: left;
        padding: 10px 5px;
    }

    table.cart tbody h3 {
        margin: 0px 0px 5px 183px;
    }

    table.cart tbody td {
        border-bottom: 1px solid rgb(221, 221, 221);
    }

    table.cart tfoot td {
        font-weight: bold;
        padding: 5px;
        text-align: right;
    }

    table.cart input#order_remark {
        width: 60%;
    }

    table.cart tbody img.prodimg {
        width: 85px;
        height: 85px;
    }

    table.cart input.prodamount {
        line-height: 1.2em;
        height: 18px;
        width: 30px;
    }

div.sendinfo {
    text-align: left;
    margin: 0px;
    padding: 5px 0px 5px 15px;
    border: 1px solid #eee;
    border-radius: 2px;
    background-color: #fff;
}


    div.sendinfo .info_head {
        clear: both;
        border-bottom: 2px solid #eee;
    }

    div.sendinfo div.info_head span.info_caption {
        font: bold 24px;
    }

    div.sendinfo ul {
        clear: both;
    }

    div.sendinfo li {
        margin: 10px 0px 0px 0px;
        list-style: none;
    }

    div.sendinfo label {
        padding: 4px 10px 2px 0px;
        float: left;
        clear: left;
        width: 200px;
        text-align: right;
    }

    div.sendinfo a.pwTip {
        background-color: rgb(221, 221, 221);
        border-radius: 7px;
        display: inline-block;
        width: 16px;
        text-align: center;
        font-weight: bold;
    }

    div.sendinfo input {
        margin: 0px 5px 0px 0px;
        height: 21px;
        width: 240px;
    }

    div.sendinfo span.fOption label {
        float: none;
    }

    div.sendinfo span.fOption input {
        width: auto;
        display: inline;
        margin: 1px 0px 0px 0px;
    }

    div.sendinfo p.fNote {
        margin-left: 210px;
        color: gray;
    }

div#orderlist {
    text-align: left;
}

    div#orderlist li {
        margin: 10px 5px 5px 5px;
        border: 1px solid #eef;
        border-radius: 5px;
    }

        div#orderlist li.unsend {
            background-color: #f3dbd3;
        }

        div#orderlist li.sended {
            background-color: #cbebd0;
        }

        div#orderlist li.cancel {
            background-color:#ccc;
            color:#808080;
        }

div.orderinfo_head {
    background-color: #eee;
    padding: 2px 0px 2px 5px;
}

div.orderinfo_conent {
    padding:2px 5px;
}

    div.orderinfo_conent p {
        margin: 6px 0px 2px 5px;
    }

div#favoritelist {
    text-align: left;
}

    div#favoritelist li {
        margin: 10px 5px 5px 5px;
        border: 1px solid #eef;
        border-radius: 5px;
    }

    div#favoritelist .order_subhead {
        font-weight: bold;
    }

div.favinfo_head {
    background-color: #eee;
    padding: 2px 0px 2px 5px;
}

div.favinfo_conent p {
    display: inline-block;
    margin: 6px 0px 2px 5px;
}
