.book_list { text-align:left; margin:3em;}
    .book_list li { background:url(/Images/common/adobe-pdf-logo-16.png) no-repeat; padding-left:1.2em; cursor:pointer;}
        .book_list li img { margin-left:0.5em; vertical-align:middle;}
