div.header { width: 100%; background: url(/images/header_wrap_bg.png) repeat-x center top; }

div.g-actions { font-size: 0.8em; font-weight: bold; margin-bottom:0.5em; border-bottom:1px solid #404040;}
    div.g-actions ul { list-style: none; display: inline-block; }
        div.g-actions ul#help-actions { width: 49%; text-align: left;}
            div.g-actions ul#help-actions li { float: left; }
        div.g-actions ul#account-actions { width: 50%; text-align: right;}
            div.g-actions ul#account-actions li { float: right; }
    div.g-actions li { color: #fff; padding: 0em 1em; margin:0.5em 0em; border-right: 1px solid #404040; display: inline; }
        div.g-actions li:first-child { border-left:1px solid #404040; border-right:1px solid #404040; }
    div.g-actions a { color: #fff; }

div.header-bar { padding: 0.3em; clear:both; text-align:left; margin-bottom:0em; height: 5em; background: url(/images/header_wrap_bg.png) repeat-x center top; }

    div.header-bar > div { display: inline-block; vertical-align: top; margin:0em; }
        div.header-bar div#logo { width: 10em; margin-left:0.2em; margin-right:auto; }
        div.header-bar div#search-nav {float:right; width: calc(100% -30em); text-align:right; margin-left:auto; margin-right:0.5em; }
    
        div.header-bar div#advise-area { display: inline-block; width:8em; color:#ffd800; font-weight:bold; font-size:1.2em; padding-left:3em;}
            div.header-bar div#advise-area p { margin:0.5em; }

    div.header-bar img.logo_img { width: 155px; height: 50px; }
    div.header-bar div.nav li {display:inline-block; padding: 0px 25px 5px 5px; outline-color: invert; font-size: 1.5em; font-weight: bold; }
        div.header-bar div.nav li a { color: #ddd; }
            div.header-bar div.nav li a:hover { color: #fff; transition-duration:1s; }
    div.header-bar div.search { text-align:left; border: 1px solid #404040; background-color: #ddd; border-radius: 5px; width:14em; height: 1.6em; margin: 0.3em 0.3em 0.3em auto; padding: 2px; }
        div.header-bar div.search input[type=button] { margin: 1px; width:3.4em; text-align:center; }

input#txtSearch { margin-left:0px; border: 1px solid #ddd; width: 12em; background-color: #ddd; padding: 1px 2px; }
