div.edit_area { text-align: left; width: 70%; margin-left: 10px; display: inline-block; }
    div.edit_area h3 { margin: 15px 0px 0px 0px; padding: 12px 10px; clear: both; background-color: rgb(85, 138, 190); }
    div.edit_area li { margin: 30px 0px 0px 0px; list-style: none; }
    div.edit_area label { padding: 4px 10px 2px 0px; float: left; clear: left; width: 200px; text-align: right; }
    div.edit_area a.pwTip { background-color: rgb(221, 221, 221); border-radius: 7px; display: inline-block; width: 16px; text-align: center; font-weight: bold; }
    div.edit_area input { margin: 0px 5px 0px 0px; width: 240px; height: 20px; }
    div.edit_area span.fOption label { float: none; }
    div.edit_area span.fOption input { width: auto; display: inline; margin: 1px 0px 0px 0px; }
    div.edit_area p.fNote { margin-left: 210px; color: gray; }

p.search_area { text-align: right; width: 100%; margin: 0px 10px 20px 0px; }
    p.search_area input[type=button] { width: 70px; }

#edit_putto_saling { display: none; }

table td a { margin: 0px 5px 0px 5px; }

div#img_list div.editable { position: relative; }
    div#img_list div.editable .mainpic { border: 2px solid #808080; }
    div#img_list div.editable .flow_tool { position: absolute; top: 2px; left: 2px; }

.myclosethick { background-image: url(/images/jquery-ui/ui-icons_888888_256x240.png); background-position: -96px -128px; }

.ui-widget-header .ui-icon { background-image: url(/images/jquery-ui/ui-icons_222222_256x240.png); }

.ui-dialog .ui-state-error { padding: .3em; }

span.m_notify { display:inline-block; background-color:rgb(85, 138, 190);border-radius:12px; min-width:1.5em;color:#f00; }