/* 通用样式(全局样式) */
* { padding: 0px; margin: 0px; }
.l { float: left; }
.r { float: right; }
li { list-style: none; }
a:link { color: #2c5987; text-decoration: none; }
a:visited { color: #619eda; text-decoration: none; }
.err_tip { color: red; visibility: hidden; }
body { width: auto; max-width: 58em; font-size: 1em; text-align: center; margin: 0 auto; font-family: Verdana, Arial, sans; background-color: #f8f8ee; }
img { border: 0px; }
footer { color: #8f8f8f; clear: both; }
div.main { min-height: 50em; vertical-align: top; }
.comm_btn { width: auto; overflow: visible; font-family: Verdana, Arial, sans; border-radius: 3px; color: #fff; letter-spacing: 1px; padding: 3px 10px; margin: 5px 15px; border: medium none currentColor; background-color: rgb(255, 93, 0); cursor:pointer; }
.disablebtn { background-color: #808080; }
.ellipsis { overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; white-space: nowrap; }
input[type=text], input[type=password] { height: 1.5em; }
.block { display: inline-block; }
.order_subhead { font-weight: bold; margin-left: 5px; }
div.main_text p { margin: 0.5em 1em 0.5em 1em; }
div.main_text li{ list-style: decimal; margin-left:3em; color:#2e26e9; font-weight:bold;}


/*
    分页条的样式定义
*/
div.pager { text-align: center; clear:both; margin: 0.5em; }
    div.pager a { border: 1px solid #808080; border-radius: 4px; padding: 1px 3px; background-color: rgb(221, 221, 221); }
        /*当前选中的样式*/
        div.pager a.cursel { background-color: #bfbfbf; }

table.m { border: 1px solid #808080; border-collapse: collapse; line-height: 1.5em; width: 100%; }
    table.m thead { background-color: rgb(85, 138, 190); color: #fff; }
    table.m th.edit_th { width: 120px; }
    table.m tr { border: 1px solid #808080; border-collapse: collapse; }
    table.m td span.prod_text { display: inline-block; width: 45px; }

div.head_title { margin: 5px 10px; border-bottom: 1px solid #bfbfbf; text-align: left; padding-bottom: 10px; }
    div.head_title h1 { display: inline-block; }
    div.head_title p { margin-top: 10px; float: right; font-size: 1.2em; }

div.main_text { margin-top: 15px; text-align: left; line-height: 1.5em; }
    div.main_text p { text-indent: 20px; }

/* 下面是为jquery对话框设置的 */

div.dlg_comm { text-align: left; }
    div.dlg_comm label { display: block; }
    div.dlg_comm input { display: inline; }
    div.dlg_comm p.validateTips { border: 1px solid transparent; padding: 0.3em; display: none; }
    div.dlg_comm fieldset { padding: 0; border: 0; margin-top: 20px; }
.myclosethick { background-image: url(/Images/jquery-ui/ui-icons_888888_256x240.png); background-position: -96px -128px; }
.ui-widget-header .ui-icon { background-image: url(/Images/jquery-ui/ui-icons_222222_256x240.png); }
.ui-dialog .ui-state-error { padding: .3em; }

div.section { margin-bottom: 1.5em; }

    /* 首页的样式  */
    div.section h2 { width: 5em; font-size: 1.5em; text-align: center; border: 1px solid #b5bdc9; border-bottom: none; background-color: #b5bdc9; border-top-left-radius: 5px; border-top-right-radius: 5px; }
    div.section div.p-section { text-align: left; padding: 3px 3px 3px 1px; border: 1px solid #b5bdc9; background-color: #fff; border-radius: 5px; }

div#advise-section { position:relative; width:100%; height:15em; }

    div#advise-section div.slide-show {width:100%; height:100%; background-color:rgb(221, 221, 221); }
        div.slide-show img { width: 100%; height: 100%; }

    div#advise-section div.notice-section{ position:absolute; right:0px; bottom:-18px; width:285px; height:76px; padding-left:55px; background:url(/Images/common/notice_bg.png) repeat-y; z-index:100;  }

/* 产品的样式 */
ul.p-list { }

    ul.p-list li { display: inline-block; width: 13em; border: 1px solid #bfbfbf; border-radius: 4px; margin: 0.5em; background-color:#f8f8ff; }

    ul.p-list div.p-list-shot { position: relative; text-align: center; }
        ul.p-list div.p-list-shot img { width: 170px; height: 140px; margin: 5px; border: none; }
        ul.p-list div.p-list-shot .spec_price { position: absolute; top: 0px; left: 0px; width: auto; height: auto; }
        ul.p-list div.p-list-shot .attention { font-size: 1.5em; color: #f00; font-weight: bold; padding: 5px 0px 0px 7px; }
    ul.p-list div.p-list-info { background-color: #e1e8f5; padding: 3px 5px; border-top: 1px solid #bfbfbf; }
        ul.p-list div.p-list-info p.prod-title { text-align: center; font-size:0.9em; margin-bottom:0.5em;}

/* 边栏的样式，应用于产品类别列表和管理的菜单 */
div#cate { width: 20%; display: inline-block; vertical-align: top; }
    div#cate p { font-size: 1.2em; }
    div#cate h2 { font-size: 1.5em; border: 1px solid #b5bdc9; border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: #d2dfef; }
    div#cate li { font-size: 1.2em; padding: 0.25em 0em 0.25em 0em; border-left: 1px solid #b5bdc9; border-right: 1px solid #b5bdc9; background-color: #fff; }
        div#cate li a { display: inline-block; width: 100%; }
    div#cate ul li:first-child { padding-top: 0.5em; }
    div#cate ul li:last-child { border-bottom: 1px solid #b5bdc9; padding-bottom: 0.5em; margin-bottom: 0.5em; }
    div#cate li.cls_active { background-color: #d7c7f5; border: 1px solid #c7b7e5; }

div#billboard { text-align: left; }
    div#billboard div.p-section p {margin:5px; }
        div#billboard div.p-section p.bbcontent:first-letter {padding-left:2em; }

div#help-pane p#img-area { margin:1em; }
div#help-pane img { width: 8em; margin:0.3em;}
div#help-pane img.arrow { width: auto; margin:0.3em;}