/* 通用样式(全局样式) */
* { padding: 0px; margin: 0px; vertical-align: baseline; }
body { background: #f5f5f5; font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif; }
footer { text-align: center; margin-bottom: 100px; }
.viewport { min-width: 330px; max-width: 640px; padding: 0px 5px; margin: 0px auto; display: block; }
a,a:link,a:visited,a:active { outline: none; text-decoration: none; }

/*  
导航栏的UI
*/
.appNav { position: fixed; height:36px; left: 0; width: 100%; bottom: 0px; z-index: 30; text-align: center; border-top: 1px solid #cfcfcf; background-color:#cfcfcf; }
    .appNav .wrapper { }
    .appNav .appLink { background-color: #16a085; margin:3px; border-bottom: 1px solid #7f7f7f; display:inline-block; height: 30px; border-radius:8px; text-align: center; }    
    .appNav .shoppingCart { display:inline-block; line-height:30px; background: url(/Images/ledao_icons_small_white.png) no-repeat; color:#ddd; padding:0px 5px 0px 30px; background-position: 0px -58px; }
        .appNav .shoppingCart .roundIndicator { background-color: #c0392b; border-radius: 5px; font-size: 12px; padding: 4px; margin-left: 5px; }
    .appNav .myAccount {display:inline-block; line-height:30px; padding:3px 5px 3px 30px; color:#ddd; background: url(/Images/ledao_icons_small_white.png) no-repeat; background-position: 0px -116px; }

/*
用户信息面板内容
*/
.userPanel { position:fixed; right:0px; top:0px; bottom:36px; background-color:#1abc9c; z-index:2; width:200px; text-align:center; }
    .userPanel .userTitle{margin-top:10px; font-weight:bold; color:#fff;}
    .userPanel img#userHeader{width:64px; height:64px; border-radius:32px; vertical-align:middle;}

    .userPanel .userInfo{text-align:left; margin:10px;}
    .userPanel li{background-color:#ddd; margin:5px 0; padding:5px; border-radius:5px;}
    .userPanel li>span{text-align:right;}
/* 微信上还不是很好支持这个
.shoppingCart::before, .myAccount::before { margin: 0 auto; background: url(/Images/home-icons.png) no-repeat; background-size: 100%; width: 28px; height: 32px; display: block; content: ""; }
.shoppingCart::before{background-position:0px -81px;}
.myAccount::before{background-position:0px -165px;}
.shoppingCart::after, .myAccount::after { content: ""; display: block; width: 1px; height: 28px; background: #dadada; position: absolute; right: -1px; top: 12px; }
*/
/* 搜索栏区 */
.searchBar { min-height: 44px; margin-top: 30px; }
    .searchBar .logoArea { float: left; }
    .searchBar .searchBox { text-align: right; }
input#txtSearch { margin-left: 0px; border: 1px solid #ddd; width: 12em; background-color: #ddd; padding: 1px 2px; }

/*首页产品列表区的对应背后框*/
.good { width: 90%; height: 80px; background-color: #e1d9d9; opacity: 0.05; position: absolute; left: 10px; top: 10px; z-index: 5; border-radius: 10px; }

@keyframes flyToCart {
    from { background-color: #71a96e; opacity: 0.8; }
    50% { transform: rotate(-720deg); }
    to { position: fixed; top: 5px; left: 10px; width: 1px; height: 1px; }
}

/* 首页产品列表区*/
.productListWrapper { margin-bottom: 12px; box-shadow: 0 1px 1px #dcdcdc; width: 100%; }
    .productListWrapper .productList { }
        .productListWrapper .productList .productItem { position: relative; padding: 2px; margin: 2px; border: 1px solid #ccc; border-radius: 8px; background-color: #fff; }
            .productListWrapper .productList .productItem img.productImage { width: 90%; min-width: 330px; }
            .productListWrapper .productList .productItem .productImage .addToCart { position: absolute; bottom: 10px; right: 10px; width: 42px; height: 42px; border-radius: 21px; background-color: rgb(85, 138, 190); text-align: center; vertical-align: middle; border: 1px solid rgb(65, 118, 170); color: #ddd; font-size: 32px; }
            .productListWrapper .productList .productItem .productInfo { font-size: 12px; text-align: center; font-size: 0.9em; margin-bottom: 0.5em; }
                .productListWrapper .productList .productItem .productInfo .productPrice { }

/*  购物车的样式*/
table.cart { width: 100%; border: 1px solid #ccc; border-collapse: collapse; }
    table.cart th { background-color: rgb(249, 249, 249); margin: 0px; padding: 5px 0px; }
        table.cart th:first-child { width: 32%; }
        table.cart th:last-child { text-align: right; }
    table.cart td { padding: 3px; background-color: #fff; }
        table.cart td:first-child { width: 32%; }
        table.cart td:last-child { text-align: right; }
    table.cart caption.cart_caption { background-color: rgb(85, 138, 190); text-align: left; padding: 10px 5px; }
    table.cart tbody h3 { margin: 0px 0px 5px 5px; }
    table.cart tbody td { border-bottom: 1px solid rgb(221, 221, 221); }
    table.cart tfoot td { font-weight: bold; padding: 5px; text-align: right; }
    table.cart input#order_remark { width: 60%; }
    table.cart tbody img.prodimg { width: 85px; height: 85px; }
    table.cart input.prodamount { line-height: 1.2em; height: 18px; width: 24px; }

/* 底部购物车（如产品详细页等） */
.bottomShoppingCart { position: fixed; left: 0px; width: 100%; bottom: 36px; z-index: 10; background-color: #ecf0f1; padding: 5px; margin-left: 2px; margin-right: 2px; }
    .bottomShoppingCart a.backLink { display: inline-block; width: 50px; background-color: #2ecc71; border-radius: 15px; font-size: 1.5em; color: #333; margin-right: 20px; text-align: center; }
    .bottomShoppingCart p.amountText { text-align: center; padding: 5px 0; float: right; margin-right: 10px; }
    .bottomShoppingCart input { width: 1.5em; font-size: 1.4em; border: 1px solid #808080; }
/* 产品详细页的样式 */
.productDetail { border: 1px solid #ccc; border-radius: 8px; background-color: #fff; margin-top: 30px; }
    .productDetail h2 { text-align: center; }
    .productDetail .imageWrapper { margin: 5px; width: auto; max-width: 640px; overflow: hidden; }
        .productDetail .imageWrapper .scroller { display: -moz-inline-stack; display: inline-block; }
    .productDetail .mainImg { width: 100%; }

.l { float: left; }
.r { float: right; }
li { list-style: none; }
.err_tip { color: red; visibility: hidden; }
img { border: 0px; }
footer { color: #8f8f8f; clear: both; }

div.main { min-height: 50em; vertical-align: top; }

.comm_btn { width: auto; overflow: visible; font-family: Verdana, Arial, sans; border-radius: 3px; color: #ecf0f1; letter-spacing: 1px; padding: 3px 10px; margin: 5px 15px; border: medium none currentColor; background-color: #2c3e50; cursor: pointer; }

    .comm_btn a:visited, .comm_btn a:active, .comm_btn a:link, .comm_btn a:hover { color: #ecf0f1; }

.disablebtn { background-color: #808080; }

.ellipsis { overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; white-space: nowrap; }

input[type=text], input[type=password] { height: 1.5em; }

div.main_text p { margin: 0.5em 1em 0.5em 1em; }

div.main_text li { list-style: decimal; margin-left: 3em; color: #2e26e9; font-weight: bold; }

a.addSubButton { display: inline-block; text-align: center; font-weight: bold; vertical-align: central; width: 1em; font-size: 1.5em; background-color: #27ae60; color: #333; border-radius: 15px; }


/*
    分页条的样式定义
*/
div.pager { text-align: center; clear: both; margin: 0.5em; }

    div.pager a { border: 1px solid #808080; border-radius: 4px; padding: 1px 3px; background-color: rgb(221, 221, 221); }
        /*当前选中的样式*/
        div.pager a.cursel { background-color: #bfbfbf; }

table.m { border: 1px solid #808080; border-collapse: collapse; line-height: 1.5em; width: 100%; }

    table.m thead { background-color: rgb(85, 138, 190); color: #fff; }

    table.m th.edit_th { width: 120px; }

    table.m tr { border: 1px solid #808080; border-collapse: collapse; }

    table.m td span.prod_text { display: inline-block; width: 45px; }

div.head_title { margin: 5px 10px; border-bottom: 1px solid #bfbfbf; text-align: left; padding-bottom: 10px; }

    div.head_title h1 { display: inline-block; }

    div.head_title p { margin-top: 10px; float: right; font-size: 1.2em; }

div.main_text { margin-top: 15px; text-align: left; line-height: 1.5em; }

    div.main_text p { text-indent: 20px; }

/* 下面是为jquery对话框设置的 */

div.dlg_comm { text-align: left; }

    div.dlg_comm label { display: block; }

    div.dlg_comm input { display: inline; }

    div.dlg_comm p.validateTips { border: 1px solid transparent; padding: 0.3em; display: none; }

    div.dlg_comm fieldset { padding: 0; border: 0; margin-top: 20px; }

.myclosethick { background-image: url(/Images/jquery-ui/ui-icons_888888_256x240.png); background-position: -96px -128px; }

.ui-widget-header .ui-icon { background-image: url(/Images/jquery-ui/ui-icons_222222_256x240.png); }

.ui-dialog .ui-state-error { padding: .3em; }

div.section { margin-bottom: 1.5em; }

    /* 首页的样式  */
    div.section h2 { width: 5em; font-size: 1.5em; text-align: center; border: 1px solid #b5bdc9; border-bottom: none; background-color: #b5bdc9; border-top-left-radius: 5px; border-top-right-radius: 5px; }

    div.section div.p-section { text-align: left; padding: 3px 3px 3px 1px; border: 1px solid #b5bdc9; background-color: #fff; border-radius: 5px; }

div#advise-section { position: relative; width: 100%; height: 15em; }

    div#advise-section div.slide-show { width: 100%; height: 100%; background-color: rgb(221, 221, 221); }

div.slide-show img { width: 100%; height: 100%; }

div#advise-section div.notice-section { position: absolute; right: 0px; bottom: -18px; width: 285px; height: 76px; padding-left: 55px; background: url(/Images/common/notice_bg.png) repeat-y; z-index: 100; }


/* 边栏的样式，应用于产品类别列表和管理的菜单 */
div#cate { width: 20%; display: inline-block; vertical-align: top; }

    div#cate p { font-size: 1em; }

    div#cate h2 { font-size: 1.1em; border: 1px solid #b5bdc9; border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: #d2dfef; }

    div#cate li { font-size: 1em; padding: 0.25em 0em 0.25em 0em; border-left: 1px solid #b5bdc9; border-right: 1px solid #b5bdc9; background-color: #fff; }

        div#cate li a { display: inline-block; width: 100%; }

    div#cate ul li:first-child { padding-top: 0.5em; }

    div#cate ul li:last-child { border-bottom: 1px solid #b5bdc9; padding-bottom: 0.5em; margin-bottom: 0.5em; }

    div#cate li.cls_active { background-color: #d7c7f5; border: 1px solid #c7b7e5; }

div#billboard { text-align: left; }

    div#billboard div.p-section p { margin: 5px; }

        div#billboard div.p-section p.bbcontent:first-letter { padding-left: 2em; }

div#help-pane p#img-area { margin: 1em; }

div#help-pane img { width: 8em; margin: 0.3em; }

    div#help-pane img.arrow { width: auto; margin: 0.3em; }

/* 登录页面样式 */
div#login_pane, dev#reg_pane { width: 30%; }

div.cont { text-align: left; margin: 2em; border: 1px solid #bfbfbf; border-radius: 0.3em; background-color: #fff; padding: 0.5em; min-height: 13em; min-width: 17em; display: inline-block; }

    div.cont .subTitle { color: #fff; line-height: 1.8em; margin: 0.8em auto 0em -0.4em; padding: 0.2em 1em 0.2em 0.2em; display: inline-block; font-size: 1.3em; font-style: italic; background-color: rgb(44, 89, 135); }

    div.cont .contentArea { float: left; width: 100%; padding-left: 1em; margin-top: 1em; }

        div.cont .contentArea li { text-align: left; margin: 5px 0px 5px 0px; }

            div.cont .contentArea li input[type=checkbox] { display: inline-block; }

        div.cont .contentArea label { display: block; }

div#adviser-pane { width: 90%; }

textarea#adviser { width: 90%; height: 5em; margin: 0.3em 1em 0.3em 1.5em; padding: 0.4em; border: solid 1px #ccc; border-radius: 4px; }

span.past_price { text-decoration: line-through; color: #808080; font-weight: normal; }

a.pwTip { background-color: rgb(221, 221, 221); border-radius: 7px; display: inline-block; width: 16px; text-align: center; font-weight: bold; cursor: pointer; }

account span#qqLoginBtn img { margin-top: 0.3em; vertical-align: top; }

/* 用户注册页面样式 */
div.register { text-align: left; }

    div.register fieldset { background-color: #fff; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

    div.register h3 { margin: 15px 0px 0px 0px; padding: 12px 10px; clear: both; background-color: rgb(85, 138, 190); border-top-left-radius: 5px; border-top-right-radius: 5px; }

    div.register li { margin: 30px 0px 0px 0px; list-style: none; }

    div.register label { padding: 4px 10px 2px 0px; float: left; clear: left; width: 80px; text-align: right; }

    div.register input { margin: 0px 5px 0px 0px; width: 10em; height: 20px; }

    div.register span.fOption label { float: none; }

    div.register span.fOption input { width: auto; display: inline; margin: 1px 0px 0px 0px; }

    div.register p.fNote { margin-left: 90px; color: gray; }

/* 用户帐户页面样式 */
div.account { text-align: left; margin: 0px; padding: 5px 0px 5px 15px; border: 1px solid #eee; border-radius: 4px; background-color: #fff; }

    div.account h3 { font-size: 1.5em; color: #808080; margin: 15px 5px 10px 5px; padding: 25px 10px 5px 10px; clear: both; border-bottom: 2px solid #eee; }

    div.account span.ur_title { font-weight: bold; width: 100px; text-align: right; display: inline-block; }

    div.account span.ur_value { font-style: italic; }

    div.account li { margin: 30px 0px 0px 0px; list-style: none; line-height: 20px; font-size: 16px; }

        div.account li img { cursor: pointer; }

        div.account li input { border: 1px solid #808080; margin: 0px 5px 0px 0px; height: 21px; width: 200px; }

        div.account li label { display: inline; width: auto; float: none; margin-right: 10px; }

        div.account li input[type=radio] { width: auto; }

        div.account li p.err_tip { display: inline; }

    div.account label { padding: 4px 10px 2px 0px; float: left; clear: left; width: 100px; text-align: right; }

    div.account a.pwTip { background-color: rgb(221, 221, 221); border-radius: 7px; display: inline-block; width: 16px; text-align: center; font-weight: bold; }

    div.account span.fOption label { float: none; }

    div.account span.fOption input { width: auto; display: inline; margin: 1px 0px 0px 0px; }

    div.account p.fNote { margin-left: 110px; color: gray; }

div.save_div { margin: 25px 10px 15px 10px; }

input.text { margin-bottom: 12px; width: 95%; padding: .4em; }


div.product_content { width: 100%; margin: 1em 0.5em 0em 0.5em; }

div.product_list_info p { margin: 2px 0px 3px 0px; }

    div.product_list_info p.product_name { font-size: 0.8em; }

div.product_list_info .product_desc { padding: 2px 5px; }

p.no_available { text-align: right; color: #f00; }


div.customer_comment { clear: left; width: 660px; text-align: left; }

    div.customer_comment .subTitle { margin-left: 0px; }

    div.customer_comment div.review_head { clear: left; }

div#write_comment { clear: both; }

    div#write_comment textarea { width: 90%; height: 90px; margin: 5px 15px 5px 25px; padding: 6px; border: solid 1px #ccc; border-radius: 4px; }

div#comments-list { clear: both; }

div.review_item { margin: 5px 15px 5px 5px; padding: 3px 5px; background-color: #eee; border: solid 1px #ebe; border-radius: 4px; }

    div.review_item h3 { display: inline-block; }

    div.review_item p { padding: 5px 2px 5px 5px; }

        div.review_item p.content { margin: 2px 160px 2px 2px; }

span.comment_star { display: inline-block; position: relative; width: 90px; height: 18px; }

    span.comment_star a { display: inline-block; position: absolute; top: 0px; left: 0px; height: 18px; background: url(/images/star_bg.png) repeat-x; }

        span.comment_star a.star_1 { width: 20%; z-index: 9; }

        span.comment_star a.star_2 { width: 40%; z-index: 8; }

        span.comment_star a.star_3 { width: 60%; z-index: 7; }

        span.comment_star a.star_4 { width: 80%; z-index: 6; }

        span.comment_star a.star_5 { width: 100%; z-index: 5; }

        span.comment_star a.no_star { width: 100%; z-index: 4; background-position: left bottom; }


div.cart_content { text-align: left; }



div.sendinfo { text-align: left; margin: 0px; padding: 5px 0px 5px 15px; border: 1px solid #eee; border-radius: 2px; background-color: #fff; }


    div.sendinfo .info_head { clear: both; border-bottom: 2px solid #eee; }

    div.sendinfo span.caption { font-weight: bold; font-size: 20px; }

    div.sendinfo span.subCaption { font-weight: bold; font-size: 16px; }

    div.sendinfo ul { clear: both; }

    div.sendinfo li { margin: 10px 0px 0px 0px; list-style: none; }

    div.sendinfo label { padding: 4px 10px 2px 0px; float: left; clear: left; min-width: 100px; width: 20%; text-align: right; }

    div.sendinfo a.pwTip { background-color: rgb(221, 221, 221); border-radius: 7px; display: inline-block; width: 16px; text-align: center; font-weight: bold; }

    div.sendinfo input { margin: 0px 5px 0px 0px; height: 21px; min-width: 180px; width: 60%; }

    div.sendinfo span.fOption label { float: none; }

    div.sendinfo span.fOption input { width: auto; display: inline; margin: 1px 0px 0px 0px; }

    div.sendinfo p.fNote { margin-left: 210px; color: gray; }

div#orderlist { text-align: left; }

    div#orderlist li { margin: 10px 5px 5px 5px; border: 1px solid #eef; border-radius: 5px; }

        div#orderlist li.unsend { background-color: #f3dbd3; }

        div#orderlist li.sended { background-color: #cbebd0; }

        div#orderlist li.cancel { background-color: #ccc; color: #808080; }

div.orderinfo_head { background-color: #eee; padding: 2px 0px 2px 5px; }

div.orderinfo_conent { padding: 2px 5px; }

    div.orderinfo_conent p { margin: 6px 0px 2px 5px; }

div#favoritelist { text-align: left; }

    div#favoritelist li { margin: 10px 5px 5px 5px; border: 1px solid #eef; border-radius: 5px; }

    div#favoritelist .order_subhead { font-weight: bold; }

div.favinfo_head { background-color: #eee; padding: 2px 0px 2px 5px; }

div.favinfo_conent p { display: inline-block; margin: 6px 0px 2px 5px; }
