@using Solemart.DataProvider.Entity;
@using Solemart.BusinessLib;

@{
    var CategoryLists = CategoryManager.Instance.Categories;
    int CurrentCateID = (int)ViewData["CurrentCateID"];
<div id="cate">
    @foreach (CategoryItem super_cat in CategoryLists) {
    <h2>@super_cat.CategoryName</h2>
    <div class="subcls">
        <ul>
            @if (super_cat.SubCategories != null) {
                foreach (CategoryItem sub_cat in super_cat.SubCategories) {
                <li @((CurrentCateID==sub_cat.CategoryID)?"class=cls_active":"")><a href="/Product/Cate/@sub_cat.CategoryID" title="@sub_cat.Description">@sub_cat.CategoryName</a></li>
                }
            }
        </ul>
    </div>
    }
</div>
}
