@using Solemart.DataProvider.Entity;
@model List<CategoryItem>

@{
    ViewBag.Title = "New";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";
}

<h1>添加类别列表:</h1>
<fieldset>
    <ol>
        <li>
            <label for="cateName">类别名称:</label>
            <input name="cateName" tabindex="1" id="cateName" type="text" value="" />
            <p class="fNote">必须要填，出现网站的类别中.</p>
        </li>
        <li>
            <label for="cate_desc">类别说明:</label>
            <input name="cateDesc" tabindex="2" id="cateDesc" type="text" value="" />
        </li>
        <li>
            <label for="ownedCate">归属父类别:</label>
            <select name="ownedCate" tabindex="4" id="ownedCate">
                <option value="0">顶层类</option>
                @foreach (CategoryItem category in Model)
                {
                    <option value="@category.CategoryID">@category.CategoryName</option>
                }
            </select>
            <p class="fNote">如果是顶级类别，就不需要选择</p>
        </li>
        <li>
            <label onclick="new_cate();"><a class="comm_btn" href="javascript:void(0);">创建</a></label>
        </li>
    </ol>
</fieldset>

<script type="text/javascript">
    function new_cate() {
        var parentCateId = $("#ownedCate").val();
        $.post("/Manager/Category/Create",
            {
                CategoryName: $("#cateName").val(),
                Description: $("#cateDesc").val(),
                ParentCategoryID: (parentCateId == 0 ? null : parentCateId)
            },
            function (result) {
                var ret = new WebReturn(result);
                if (ret.success)
                    window.location.reload();
                else
                    alert(ret.Message);
            });
    }
</script>
