<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>solemart</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="sq_adon888" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="9AA337189F48E646F804E8C7173F12C2A07F408FCBDD284E419526B2DCE80E17651F6422027A8A674EB6D3C75912B9D1DCADAC30CBD68B1ECD67A6927238FB7C7936BB65DD204984307853C2E6614D1236F6D2A0AA8CF3B4A2AC17B3CC17A0CB1D8E762E2B422F89" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sq_adon888_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="9AA337189F48E646F804E8C7173F12C2A07F408FCBDD284E419526B2DCE80E17651F6422027A8A674EB6D3C75912B9D1DCADAC30CBD68B1ECD67A6927238FB7C7936BB65DD204984307853C2E6614D1236F6D2A0AA8CF3B4A2AC17B3CC17A0CB1D8E762E2B422F89" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="sq_local" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="44401DF6A370722FDF195A7E3FA4F7BE64D7D837D376B5B26F533F915A7C848B626A169283BDBE9AA17AAD76636266CF2E851F1F243DDFF09BBE87546F8C409CC0EFF368C57EE068" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sq_local_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="44401DF6A370722FDF195A7E3FA4F7BE64D7D837D376B5B26F533F915A7C848B626A169283BDBE9AA17AAD76636266CF2E851F1F243DDFF09BBE87546F8C409CC0EFF368C57EE068" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sq_adon888-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sq_local-Web.config Connection String" />
  </ItemGroup>
</Project>