@using Xxx.EntityLib;
@model List<Category>

@{
    ViewBag.Title = "New";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";
}

@section header_script_manager{
    <script type="text/javascript">
        function new_cate() {
            $.post("/Manager/Category/Create",
                {
                    cate_name: $("#cate_name").val(),
                    cate_desc: $("#cate_desc").val(),
                    super_cate_id: $("#owned_cate").val()
                },
                function (result) {
                    alert(result);
                    window.location.reload();
                });
        }
    </script>
}

<h1>添加类别列表:</h1>
<fieldset>
    <ol>
        <li>
            <label for="cate_name">类别名称:</label>
            <input name="cate_name" tabindex="1" id="cate_name" type="text" value="" />
            <p class="fNote">必须要填，出现网站的类别中.</p>
        </li>
        <li>
            <label for="cate_desc">类别说明:</label>
            <input name="cate_desc" tabindex="2" id="cate_desc" type="text" value="" />
        </li>
        <li>
            <label for="owned_cate">归属父类别:</label>
            <select name="owned_cate" tabindex="4" id="owned_cate">
                <option value="0">顶层类</option>
                @foreach (Category cate in Model) {
                <option value="@cate.CateID">@cate.CateName</option>
                }
            </select>
            <p class="fNote">如果是顶级类别，就不需要选择</p>
        </li>
        <li>
            <label onclick="new_cate();"><a class="comm_btn" href="javascript:void(0);">创建</a></label>
        </li>
    </ol>
</fieldset>