@{
    ViewBag.Title = "电子书 - 叟玛特";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header_style{
    <link rel="stylesheet" href="/Content/ebooks.css" />
}

@section header_script{
}
<div class="head_title">
    <h2>电子书</h2>
</div>
<p><strong>声明</strong>本网站的电子书是自制，可以用于交流，但不能用于任何商业用途。需要注册为本网站用户才可以浏览和下载。</p>
<div class="book_list">
    <ul>
        <li><a href="/Acknowledge/EBooks/Details/1" title="在线查看:苏菲的世界">苏菲的世界</a><a href="/Acknowledge/EBooks/Download/1"><img src="/Images/common/download.png" title="下载:苏菲的世界" /></a></li>
    </ul>
</div>

