@using Solemart.BusinessLib;

@{
    SolemartUser CurrentUser = HttpContext.Current.User as SolemartUser;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="www.51bdg.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <title>@(ViewBag.Title == null ? "乐道" : ViewBag.Title)</title>
    <link rel="stylesheet" href="~/Content/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="/Content/style.css" />
    @RenderSection("managerHeader", false)
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/Scripts/iscroll.js"></script>
    <script src="/Scripts/commonutil.js"></script>
    @*<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101023556" data-redirecturi="http://www.solemart.com/Home/Login" charset="utf-8"></script>*@
    <script type="text/javascript">
        function search_product() {
            var key = $("#txtSearch").val();
            window.location.href = "/Home/Search/" + window.encodeURI(key);
        }

        function logout() {
            @*@if(CurrentUser.IsLoginQQ){
                <text>
                QC.Login.signOut();
                </text>
            }*@
            $.post("/Home/Logout",
                {},
                function (result) {
                    var ret = new WebReturn(result);
                    if (ret.success)
                        window.location.reload();
                    else
                        alert(ret.message);
                });
        }
    </script>
</head>
<body>
    <div class="viewport">
        @RenderBody()
        <footer>
            <p>罗源乐道贸易有限公司 版权所有&copy;2015</p>
            <p>订购热线：400-899-0918  0591-26980918</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
