@model Solemart.Web.Models.IPagerModel

@if (Model.TotalPageCount > 0)
{
    <div class="pager">
        <a href="?p=1">第一页</a>
        @for (int i = 0; i < Model.TotalPageCount; ++i)
        {
            <a href="?p=@i" @((i == Model.PageIndex) ? "class=cursel" : "") title='显示第@(i+1)页'>@(i+1)</a>
        }
        @if (Model.TotalPageCount > 1)
        {
            <a href="?p=@((Model.PageIndex == Model.TotalPageCount - 1) ? Model.PageIndex : Model.PageIndex + 1))">@((Model.PageIndex == Model.TotalPageCount) ? "上一页" : "下一页")</a>
        }
    </div>
}