<div class="appNav">
    <div class="wrapper">
        <a href="/Cart" title="查看购物车" class="appLink shoppingCart">下单<span class="roundIndicator">￥0.00</span></a>
        @*<div class="seperateLine"></div>
        <a href="/Account" title="我的订单、消费等" class="appLink myAccount">我的</a>*@
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $.post("/Cart/TotalAmount", {},
            function (result) {
                var ret = new WebReturn(result);
                if (ret.success) {
                    var retData = JSON.parse(ret.content);
                    var indicator = $(".roundIndicator");
                    //if (retData.TotalCount > 0) {
                    //    indicator.show();
                        indicator.html(retData.TotalCount);
                    //}
                    //else {
                    //    indicator.hide();
                    //}
                }
            });
    })
</script>
