<div class="appNav">
    <div class="wrapper">
        <a href="/Cart" title="查看购物车" class="appLink shoppingCart">下单<span class="roundIndicator">1</span></a>
        <div class="seperateLine"></div>
        <a href="/Account" title="我的订单、消费等" class="appLink myAccount">我的</a>
    </div>
</div>
