/* 首页的产品列表显示 */
div.product-list { width: 100%; margin: 0.5em 0.3em 0em 0.5em; }
    div.product-list li { display:inline-block; margin: 0px 1em 1em 0px; width: 15em; border: 1px solid #b5bdc9; border-radius: 0.3em; background-color: #fff; }
    div.product-list figure  { position: relative; height: 10em; padding: 0.3em; }
    div.product-list figure img { width: 180px; height: 160px; border: none; }
    div.product-list .spec_price { position: absolute; top: 0px; left: 0px; width: auto; height: auto; }
    div.product-list .attention { font-size: 1.5em; color: #f00; font-weight: bold; padding: 2px 0px 0px 2px; }
    div.product-list article { background-color: #e1e8f5; background-clip: border-box; border-top: 1px solid #b5bdc9; height: 5em; }
    div.product-list article p { margin: 2px 0px 3px 0px; }
    div.product-list article .product_desc { padding: 2px 5px; }

/* 商品详细页的样式 */
div.product-detail {border: 1px solid #ccc; border-radius: 0.3em; background-color: #fff; margin:0.3em; }

div#shop-actions { background-color: #eee; border-right: 1px solid #ccc; border-bottom:1px solid #ccc; width: 10em; float:left; z-index:-1; }
    div#shop-actions figure { background-color: #fff; }
    div#shop-actions a { display: block; margin: 0.5em 1em; padding: 0.2em;}

div#center-stage { text-align: center; display: block; }
    div#center-stage div.center_image {margin:2em 1em; }
        div#center-stage div.center-image img {width: 23em; height: 20em; margin:0.5em;}
    div#center-stage div.product-info { margin: 0.5em 0.3em 1em 0.3em; color: #5e6ce2; font-size: 1.2em; }

div#comments { text-align: left; }
    div#comments .subTitle { margin-left: 0px; }
    div#comments div.review_head { display: inline-block; }
    div#write_comment textarea { width: 90%; height: 5em; margin: 0.3em 1em; padding: 0.3em; border: solid 1px #ccc; border-radius: 4px; }

div.review_item { margin: 5px 15px 5px 5px; padding: 3px 5px; background-color: #eee; border: solid 1px #ebe; border-radius: 4px; }
    div.review_item h3 { display: inline-block; }
    div.review_item p { padding: 5px 2px 5px 5px; }
        div.review_item p.content { margin: 2px 160px 2px 2px; }

span.comment_star { display: inline-block; position: relative; width: 90px; height: 18px; }
    span.comment_star a { display: inline-block; position: absolute; top: 0px; left: 0px; height: 18px; background: url(/images/star_bg.png) repeat-x; }
        span.comment_star a.star_1 { width: 20%; z-index: 9; }
        span.comment_star a.star_2 { width: 40%; z-index: 8; }
        span.comment_star a.star_3 { width: 60%; z-index: 7; }
        span.comment_star a.star_4 { width: 80%; z-index: 6; }
        span.comment_star a.star_5 { width: 100%; z-index: 5; }
        span.comment_star a.no_star { width: 100%; z-index: 4; background-position: left bottom; }
