@using Solemart.EntityLib;
@model List<FavoriteInfo>

@{
    ViewBag.Title = "我的收藏 —— 叟玛特";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header_style{
    <link rel="stylesheet" href="/Content/cart.css" />
}

@section header_script{
}

<div id="favoritelist">
    <div>
        <ul>
            @if(Model == null){
            <li>
                <p>您的收藏夹没有商品, 您可以在浏览商品过程中进行收藏</p>
            </li>
            }else{
            foreach (FavoriteInfo fi in Model) {
            <li>
                <div class="favinfo_head">
                    <span class="order_subhead">收藏时间:</span> <span>@fi.FavoriteTime</span>
                </div>
                <div class="favinfo_conent">
                    <p>
                        <a href="/Product/Detail/@fi.Product.ProductID">@fi.Product.Name</a>                            
                    </p>
                    <p class="r">
                        <a href="/Cart/Add/@fi.Product.ProductID" title="把一件本商品放入购物车" class="comm_btn">加入购物车</a>
                        <a href="/Product/Detail/@fi.Product.ProductID" title="查看该商品信息" class="comm_btn">查看商品</a>
                    </p>
                </div>
            </li>
            }
            }
        </ul>
    </div>
</div>