@using Solemart.EntityLib;
@model List<Adviser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";
}

<h1>查看用户的建议列表:</h1>

<div class="pager"></div>
<table class="m">
    <thead>
        <tr>
            <th>发表用户</th>
            <th>内容</th>
            <th>发表时间</th>
            <th>动作</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Adviser advise in Model){
        <tr>
            <td></td>
            <td>@advise.Content</td>
            <td>@advise.AdviseTime.ToShortDateString()</td>
            <td><a href="javascript:void(0);">查看</a></td>
        </tr>
        }
    </tbody>
</table>